
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<button id="returnHome" (click)="return()">
  <!-- ליבא את התמונה ולהכניס ל assets -->
  <svg id="faClass" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
  </svg>
  <!-- עד פה -->
  <br>חזרה לדף הבית</button>
  <h2 style="text-align: center; font-weight: bolder;">{{zman}} {{nameEmployee}} היקר</h2>

<div class="container">
  <form [formGroup]="form" action="/action_page.php">
  <div class="row">
    <div class="col-25">
      <label for="nameApply" dir="rtl" >שם הפונה <span class="glyphicon glyphicon-pencil"></span></label>
    </div>
    <div class="col-75">
      <input formControlName="hebrewLetters" type="text"[(ngModel)]="nameApply" id="nameApply" name="nameApply" placeholder="שם הפונה" dir="rtl">
      <span *ngIf="form.get('hebrewLetters')?.invalid && (form.get('hebrewLetters')?.dirty || form.get('hebrewLetters')?.touched)"style="color:red;">{{getErrorMessageHebrewLetters()}}
    </span>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="causeReferral">סיבת הפניה</label>
    </div>
    <div class="col-75">
      <select id="selectedValue" name="selectedValue" formControlName="selectedValueControl" (change)="onSelectedValueChange()">
        <option value="בחר">בחר סיבת פנייה</option>
        <option *ngFor="let item of arrayCauseReferral" value="{{item.descreption}}">{{item.descreption}}</option>
      </select>
    </div>
  </div>
  <div *ngIf="isAnotherCause==true" class="row">
    <div class="col-25">
      <label for="causeReferral">פירוט סיבת פנייה : <span class="glyphicon glyphicon-pencil"></span></label>
    </div>
    <div class="col-75">
      <input type="text"formControlName="valueDetailsAnotherCause" [(ngModel)]="newApply.detailsAnotherCause" id="nameApply" name="nameApply" placeholder="פירוט סיבת הפנייה" dir="rtl">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
        <label for="mobile">&nbsp;טלפון הפונה לחזרה <span class="glyphicon glyphicon-earphone"></span></label>
    </div>
    <div class="col-75">
      <input formControlName="mobileNumber" type="text"[(ngModel)]="phoneAsker" id="mobile" name="mobile" maxlength="10" placeholder="000 000 000" dir="rtl">
      <span *ngIf="form.get('mobileNumber')?.invalid && (form.get('mobileNumber')?.dirty || form.get('mobileNumber')?.touched)"style="color:red;">{{getErrorMessageMobileNumber()}}
      </span>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-25">
        <label for="mobile">&nbsp;  רמת דחיפות הפנייה</label>
    </div>
    <div class="col-75">
      <select id="selectedValue" name="selectedValueLevelUrgency" formControlName="selectedValueControlLevelUrgency" (change)="onSelectedValueChangeLevelUrgency()">
        <option value="בחר">בחר רמת דחיפות הפנייה </option>
        <option *ngFor="let item of arrayLevelUrgency" value="{{item.name}}">{{item.name}}</option>
      </select>
    
      </div>
  </div>
  <br>
  <div class="row">
    <input type="submit" (click)="sendIntake()"  value="שליחה לאינטייק">&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" (click)="sendManager()" value="שליחה למנהל הפניות">
  </div>
    
        
    <!-- <p class="error"*ngIf="!userFormGroup.get('mobile').valid && userFormGroup.get('mobile').dirty">
       * Invalid mobile number.
    </p> -->
  </form>
</div>


