
<button  id="returnHome" (click)="return()">
  <!-- ליבא את התמונה ולהכניס ל assets -->
  <svg id="faClass" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
  </svg>
  <!-- עד פה -->
  <br>חזרה לדף הבית</button>
<div ><br><br>
  <!-- *ngIf="isClickP==true" -->
<app-patient-details></app-patient-details>
<br>
<button id="btnAdd" type="button" (click)="isClickP=!isClickP" class="border">הוספת שלב טיפול
  <span></span>
</button>
</div>
<table *ngIf="isClickP">
  <!-- *ngIf="isClickAddTreat==true" -->
 <tr>
 <td></td>
 <td>
    <div *ngIf="isClickP">
        <blockquote class="rule">
    <p>הוספת שלב טיפול</p>
    <form [formGroup]="form" class="w3-container" (ngSubmit)="onSubmit()">
    <span id="title">תאריך:</span>  <span>{{dateNow|date:'dd/MM/yyyy'}}</span>
    <span id="title">שם הפעיל הממלא:</span><span>{{nameFill}}</span><br>
    <mat-form-field class="taskN"appearance="fill">
      <mat-label>אופי האירוע</mat-label>
      <input matInput value="סיווג מנהלי">
      <mat-error *ngIf="form.get('selectTask')?.invalid && (form.get('selectTask')?.dirty || form.get('selectTask')?.touched)"style="color:red;" >{{getErrorSelectTask()}}</mat-error>
    </mat-form-field>
    <br>
    <span id="title">הערה </span>
    <textarea style=" text-align: right;"formControlName="hebrewLetters" class="text-input" #textarea (input)="resizeTextarea(textarea)"id="documentation" name="documentation" [(ngModel)]="newTreatmentDedails.documentation"placeholder="חדש" required></textarea> 
    <mat-error *ngIf="form.get('hebrewLetters')?.invalid && (form.get('hebrewLetters')?.dirty || form.get('hebrewLetters')?.touched)"style="color:red;">{{getErrorMessageHebrewLetters()}}</mat-error>
 
    <br>
    <mat-form-field class="taskN" appearance="fill">
      <mat-label>בחר פעיל </mat-label>
      <mat-select id="chooseT" name="chooseT"formControlName="selectNextTaskIsEmplo" [(ngModel)]="employeesId"  (ngModelChange)="selectIsEmplo()">
        <mat-option>--</mat-option>
        <mat-option id="taskOp" *ngFor="let item of arrayEmplo" value="{{item.idUserNavigation?.firstName}}">{{item.idUserNavigation?.firstName}}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('selectNextTaskIsEmplo')?.invalid && (form.get('selectNextTaskIsEmplo')?.dirty || form.get('selectNextTaskIsEmplo')?.touched)"style="color:red;">{{getErrorSelectNextTaskIsEmplo()}}</mat-error>
    </mat-form-field>  
    <br>
   
   <div class="mb-3">
  <button class="btn btn-secondary"  style="width:20% ;margin-right: 0.5%;" type="submit">עדכון</button>
  <button class="btn btn-secondary"  style="width:20% ;" >ביטול</button>
</div></form>
</blockquote>
</div> 
</td> 
</tr>
</table>