<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<button id="returnHome" (click)="return()">
  <!-- ליבא את התמונה ולהכניס ל assets -->
  <svg id="faClass" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
  </svg>
  <!-- עד פה -->
  <br>חזרה לדף הבית</button>
    <h3>כלל הפניות</h3>
    <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="ערך לחיפוש  &#61442; ">
      </div>
    <table style="width: 80%;margin-left: 10%;" dir="rtl" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">טלפון</th>
            <th scope="col">תאריך</th>
            <th scope="col">מספר פנייה</th>
            <th scope="col">שם פרטי</th>
            <th scope="col">שם משפחה</th>
            <th scope="col">שם ממלא</th>
            <th scope="col">רמת דחיפות</th>
            <th scope="col">סטטוס הפנייה</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of arrayshowSecretery| filter:searchText;let indexOfelement=index;"style="cursor: pointer;" (click)="showTreatmentDetails(item.numApply)">
            <td>{{item.phone}}</td>
            <td>{{item.date}}</td>
            <td>{{item.numApply}}</td>
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.nameFillApply}}</td>
            <td>{{item.levelUrgency}}</td>
            <td>{{item.statusApply}}</td>
            <td>
            <button id="btnDe" (click)="deleteApply(item)" type="button" class="btn btn-light mr-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>מחיקת הפנייה</button></td>
          </tr>
        </tbody>
      </table>