p{
    text-align: center;
    direction: rtl;
    text-decoration: underline;
    font-weight: bolder;
    //font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: green;
    }
    .example-form {
        // min-width: 150px;
        // max-width: 500px;
        width: 90%;
        margin: 0 auto;
        direction: rtl;
      }
     
      
      .example-full-width {
    text-align: right;
    }
    .text-input {
      padding: 6px 10px;
      color: #333;
      border: 1px solid #444;
      border-radius: 6px;
      width: 100%;
      resize: none; /* hide browser provided resize handles */
      overflow-y: overlay;
      //font-family: Arial, sans-serif;
      font-size: 14px;
      line-height: 20px; /* equal to avgLineHeight in controller */
      -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
      scrollbar-width: none; /* hide scrollbar in Firefox */
    }
      
      td {
        width: 100%;
      }
      .form-frame {
        border: 2px solid rgb(8, 102, 36);
        width: 95%;
         margin-left: 2.5%;
      }
      #cot{
        text-align: center;
      }
      #lbl{
        margin-left: 2.5%;
        //font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        font-weight: bolder;
    
      }
    
    mat-radio-group {
      display: flex;
      flex-direction: column;
      width: 200px; /* Set the width of the column */
      height: 300px; /* Set the height of the column */
    }
    .submitButton {
      width: 50%;
      height: 40px;
      margin: auto;
      display: block;
      color: #fff;
      background-color: #065492;
      border-color: #065492;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
    }
  .submitButton:disabled,
  button[disabled] {
    border: 1px solid #cccccc;
    background-color: #cccccc;
    color: #666666;
  }
  
  #loader {
    position: absolute;
    z-index: 1;
    margin: -2px 0 0 10px;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #666666;
    width: 14px;
    height: 14px;
    // -webkit-animation: spin 2s linear infinite;
    // animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  } 
  #saveN{
    background-color: green;
    color: white;
    border-radius: 15px;
    //font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  }
  #saveN:hover {
    transform: scale(1.1);
  }  
      