
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<button *ngIf="isNotEmp" id="returnHome" (click)="return()">
  <!-- ליבא את התמונה ולהכניס ל assets -->
  <svg id="faClass" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
  </svg>
  <!-- עד פה -->
  <br>חזרה לדף הבית</button>
  
<h2 style="text-align: center; font-weight: bolder;">{{zman}} {{nameEmployee}} היקר</h2>

<div id="btn">
  <button  type="button" class="btn btn-outline-success" (click)="newApply()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
  </svg>  פניה חדשה</button>
  <button  type="button" class="btn btn-outline-success" (click)="inTake()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
  </svg>  לקיחת אינטייק</button>
<!-- <button  type="button" class="btn btn-outline-success" (click)="inTake()">לקיחת אינטייק</button>
<button  type="button" class="btn btn-outline-success" (click)="newApply()">פניה חדשה</button> -->
<button type="button" class="btn btn-outline-success"(click)="awaitingExecution()">({{countApply}}) ממתין לביצוע</button>
</div>
<div class="search-hero">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="ערך לחיפוש  &#61442; ">
</div>
<table style="width: 80%;margin-left: 10%;" dir="rtl" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">טלפון</th>
      <th scope="col">תאריך</th>
      <th scope="col">מספר פנייה</th>
      <th scope="col">שם פרטי</th>
      <th scope="col">שם משפחה</th>
      <th scope="col">שם ממלא</th>
      <th scope="col">רמת דחיפות</th>
      <th scope="col">סטטוס הפנייה</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of arrayshowSecretery| filter:searchText;let indexOfelement=index;"style="cursor: pointer;" (click)="showTreatmentDetails(item.numApply)">
      <td>{{item.phone}}</td>
      <td>{{item.date}}</td>
      <td>{{item.numApply}}</td>
      <td>{{item.firstName}}</td>
      <td>{{item.lastName}}</td>
      <td>{{item.nameFillApply}}</td>
      <td>{{item.levelUrgency}}</td>
      <td>{{item.statusApply}}</td>

    </tr>
  </tbody>
</table>


 