<br>
<form 
[formGroup]="form" class="w3-container" (ngSubmit)="onSubmit()">
    <p>הוספת שלב טיפול</p>
    <span id="title">תאריך:</span>  <span>{{dateNow|date:'dd/MM/yyyy'}}</span>
    <span id="title">שם הפעיל הממלא:</span><span>{{nameFill}}</span><br>
    <mat-form-field class="taskN"appearance="fill">
      <mat-label>אופי הארוע</mat-label>
      <mat-select  id="selectTaskN" name="selectTaskN"formControlName="selectTask" [(ngModel)]="newTreatmentDedails.taskId" (ngModelChange)="onSelectedValueChangeT()">
        <mat-option>--</mat-option>
        <mat-option id="taskOp" *ngFor="let item of arrayTasks" value="{{item.id}}">{{item.taskName}}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('selectTask')?.invalid && (form.get('selectTask')?.dirty || form.get('selectTask')?.touched)"style="color:red;" >{{getErrorSelectTask()}}</mat-error>
    </mat-form-field>
    <br>
    <span id="title">תיעוד האירוע</span>
   <textarea dir="rtl" style=" text-align: right;"formControlName="hebrewLetters" class="text-input" #textarea (input)="resizeTextarea(textarea)"id="documentation" name="documentation" [(ngModel)]="newTreatmentDedails.documentation" required></textarea> 
   <mat-error *ngIf="form.get('hebrewLetters')?.invalid && (form.get('hebrewLetters')?.dirty || form.get('hebrewLetters')?.touched)"style="color:red;">{{getErrorMessageHebrewLetters()}}</mat-error>
   <h3 id="title">ביצוע שלב הבא</h3>

   <span id="title"> משימה</span><br>
   <mat-form-field *ngIf="isEmplo" class="taskN" appearance="fill">
    <mat-label>בחר פעיל </mat-label>
    <mat-select id="chooseT" name="chooseT"formControlName="selectNextTaskIsEmplo" [(ngModel)]="employeesId"  (ngModelChange)="selectIsEmplo()">
      <mat-option>--</mat-option>
      <mat-option id="taskOp" *ngFor="let item of arrayEmplo" value="{{item.idUserNavigation?.firstName}}">{{item.idUserNavigation?.firstName}}</mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('selectNextTaskIsEmplo')?.invalid && (form.get('selectNextTaskIsEmplo')?.dirty || form.get('selectNextTaskIsEmplo')?.touched)"style="color:red;">{{getErrorSelectNextTaskIsEmplo()}}</mat-error>
  </mat-form-field>  
   <mat-form-field  style="margin-left: 0.5%;" class="taskN"appearance="fill">
    <mat-label>בחר משימה </mat-label>
    <mat-select id="chooseT" name="chooseT"formControlName="selectNextTask" [(ngModel)]="newTreatmentDedails.nextStepId"(ngModelChange)="onSelectedValueChange()">
      <mat-option>--</mat-option>
      <mat-option id="taskOp" *ngFor="let item of arrayTasks" value={{item.id}}>{{item.taskName}}</mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('selectNextTask')?.invalid && (form.get('selectNextTask')?.dirty || form.get('selectNextTask')?.touched)"style="color:red;">{{getErrorSelectNextTask()}}</mat-error>
  </mat-form-field>&nbsp;
<br>
    <span *ngIf="isDetails" id="title">תוכן </span><br>
    <textarea *ngIf="isDetails" dir="rtl" style=" text-align: right;width: 50%;"formControlName="hebrewLettersDetailsTask" class="text-input" #textarea (input)="resizeTextarea(textarea)" required></textarea> 
    <mat-error *ngIf="isDetails&&form.get('hebrewLettersDetailsTask')?.invalid && (form.get('hebrewLettersDetailsTask')?.dirty || form.get('hebrewLettersDetailsTask')?.touched)"style="color:red;">{{getErrorMessageHebrewLettersDetails()}}</mat-error>

    <br>
  <span id="title"> תאריך ביצוע המשימה</span><br>
<mat-form-field>
  <input matInput [matDatepicker]="picker" formControlName="date" (ngModelChange)="validateDate()"  [(ngModel)]="newTreatmentDedails.dateTask">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<mat-error *ngIf="!isOkDate">תאריך לא תקין</mat-error>
<mat-error *ngIf="!isOkDateEmp"> שדה חובה </mat-error>

<br>
<div class="mb-3">
  <button class="btn btn-secondary"  style="width:20% ;margin-right: 0.5%;" type="submit">עדכון</button>
  <button class="btn btn-secondary"  style="width:20% ;" >ביטול</button>

</div>
</form>
    