<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<img src="/assets/smalLogo.JPG" class="img-responsive" alt="Responsive image">
<br><button (click)="returnHome()"style="color: rgb(21 48 141);"><i id="faClass"style="font-size:24px;color: rgb(21 48 141);" class="fa">&#xf08b;</i><br>יציאה /התנתקות</button>

<br>

<!-- <app-home-page></app-home-page> -->
<router-outlet></router-outlet>
