
p{
    text-align: center;
    direction: rtl;
    text-decoration: underline;
    font-weight: bolder;
    //font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: green;
    }
    mat-radio-group {
     border: 2px solid rgb(7, 65, 24);
     border-radius: 10px ;
     width: 30%;
     margin-left: 35%;
     text-align: center;
     direction: rtl;
      display: flex;
      flex-direction: column;
    //   width: 200px; /* Set the width of the column */
    //   height: 300px; /* Set the height of the column */
    }
    mat-radio-button{
        margin-right: 2.5%;
        text-align: center;
    }
   
    // .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    //     border-color: blue;
    //   }
   
    //   // For inner circle
    //   .mat-radio-checked .mat-radio-inner-circle {
    //       background-color: blue;
    //   }
      mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
        border-color:rgb(66, 134, 244); 
      }
      
      mat-radio-button.mat-accent .mat-radio-inner-circle{
        color:rgb(66, 134, 244);
        background-color:rgb(66, 134, 244) ;
      }
      
      mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
          background-color:rgba(44, 255, 37, 0.26);
      }