<p *ngIf="!isInstitionPast">מקום לימודים נוכחי:</p>
<p *ngIf="isInstitionPast">מקום לימודים קודם:</p>
<mat-radio-group id="chooseCategory" name="chooseCategory" [(ngModel)]="chooseCategory"
   (ngModelChange)="onSelectedValueChangeCategory($event)">
   <mat-radio-button [color]="color" *ngFor="let category of arrayCategory"
      [value]="category">{{category.detailsCategory}}</mat-radio-button>
   <mat-form-field style="text-align: right;width: 45%;margin-right: 20%; " *ngIf="isAnotherCategory==true"
      class="example-full-width">
      <mat-label>שם קטגוריה אחר:</mat-label>
      <input matInput id="anotherCategory" name="anotherCategory" [(ngModel)]="anotherCategory"
         (ngModelChange)="sendValue(anotherCategory)">
   </mat-form-field>
   <!-- <span *ngIf="form.get('hebrewLetters')?.invalid && (form.get('hebrewLetters')?.dirty || form.get('hebrewLetters')?.touched)"style="color:red;">{{getErrorMessageHebrewLetters()}}
    </span>  -->
</mat-radio-group>

<div *ngIf="press>1" >
{{isPressCategoryT()}}
</div>
<ng-container *ngIf="isPressCategory==true">
   <app-educational-institutions-applicant [category]="currentCategory"  [indexCategory]="indexCategory"></app-educational-institutions-applicant>
</ng-container>
<router-outlet></router-outlet>