table th{
    background-color: rgb(41, 45, 92);
    color: white;
    text-align: right;
  }
  .tableNav{
    width: 100%;
    margin-left: 2.5%;
  }
 
  #btn{
    text-align: center;
    margin-right: 28%;

    margin-bottom:2%;
  }
  #btn button{
    margin-left: 0.5%;
    border-color: green;
font-size: 99%;  }
  table{
    right: 10%;
  }
  #relaition{
    text-align: left;
    margin-bottom:2%;
  }
  #relaition button{
    margin-left: 0.3%;
    border-color: green;
font-size: 90%;
  }