<svg style=" border:3px solid #188a09; padding:10px; margin:10px
; display: block;
margin-left: auto;
margin-right: auto;
border-radius: 40%;
width: 5%;height: auto;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
  </svg>
  <br>
  
  <div style="margin-left: auto;
  margin-right: auto;
  width: 19%;direction: rtl;">כתובת המייל לשליחת קוד אימות</div>
 
   
  <input style="margin: auto;

  display: block;" type="text"  class="w3-input w3-border"  [(ngModel)]="email" value="email" dir="rtl" name="psw" required/>
<br>

<button class="btn btn-outline-light btn-lg px-5"  class="btn btn-outline-success" style="margin: auto;display: block;" 
(click)="sendCode()">אישור  </button>
<router-outlet></router-outlet>


